<strong>Olá {{ student }}, tudo bem? =D</strong>
<p>Seu chamado de Suporte possui uma nova resposta.</p>
<ul>
  <li><strong>Pergunta: </strong>{{ question }}</li>
  <li><strong>Resposta: </strong>{{ answer }}</li>
  <li><strong>Data da Resposta: </strong>{{ answer_at }}</li>
</ul>
